<Layouts.app flash={@flash} current_scope={@current_scope}>
  <section class="xamt-stack" id="confirm-panel">
    <.header>
      {gettext("Welcome")}
      <:subtitle>
        <span class="xamt-latin">{@user.email}</span>
      </:subtitle>
    </.header>

    <.form
      :if={!@user.confirmed_at}
      for={@form}
      id="confirmation_form"
      action={~p"/users/log-in?_action=confirmed"}
      phx-mounted={JS.focus_first()}
      class="xamt-form"
    >
      <input type="hidden" name={@form[:token].name} value={@form[:token].value} />
      <.button
        name={@form[:remember_me].name}
        value="true"
        phx-disable-with={gettext("Confirming...")}
        variant="primary"
        class="xamt-btn xamt-btn--primary"
      >
        {gettext("Confirm and stay logged in")}
      </.button>
      <.button
        phx-disable-with={gettext("Confirming...")}
        class="xamt-btn xamt-btn--soft"
      >
        {gettext("Confirm and log in only this time")}
      </.button>
    </.form>

    <.form
      :if={@user.confirmed_at}
      for={@form}
      id="login_form"
      action={~p"/users/log-in"}
      phx-mounted={JS.focus_first()}
      class="xamt-form"
    >
      <input type="hidden" name={@form[:token].name} value={@form[:token].value} />
      <%= if @current_scope do %>
        <.button
          variant="primary"
          phx-disable-with={gettext("Logging in...")}
          class="xamt-btn xamt-btn--primary"
        >
          {gettext("Log in")}
        </.button>
      <% else %>
        <.button
          name={@form[:remember_me].name}
          value="true"
          phx-disable-with={gettext("Logging in...")}
          variant="primary"
          class="xamt-btn xamt-btn--primary"
        >
          {gettext("Keep me logged in on this device")}
        </.button>
        <.button
          phx-disable-with={gettext("Logging in...")}
          class="xamt-btn xamt-btn--soft"
        >
          {gettext("Log me in only this time")}
        </.button>
      <% end %>
    </.form>

    <p :if={!@user.confirmed_at} class="xamt-alert xamt-alert--outline">
      {gettext("Tip: If you prefer passwords, you can enable them in the user settings.")}
    </p>
  </section>
</Layouts.app>
