<Layouts.app flash={@flash} current_scope={@current_scope}>
  <section class="xamt-stack" id="login-panel">
    <.header>
      {gettext("Log in")}
      <:subtitle>
        <%= if @current_scope do %>
          {gettext("You need to reauthenticate to perform sensitive actions on your account.")}
        <% else %>
          {gettext("Don't have an account?")}
          <.link href={~p"/register"} class="xamt-link">{gettext("Sign up")}</.link>
        <% end %>
      </:subtitle>
    </.header>

    <div :if={local_mail_adapter?()} class="xamt-alert xamt-alert--info">
      <.icon name="hero-information-circle" class="size-6 shrink-0" />
      <div class="xamt-latin">
        <p>{gettext("You are running the local mail adapter.")}</p>
        <p>
          {gettext("To see sent emails, visit")}
          <.link href="/dev/mailbox" class="underline">{gettext("the mailbox page")}</.link>.
        </p>
      </div>
    </div>

    <.form
      :let={f}
      for={@form}
      as={:user}
      id="login_form_magic"
      action={~p"/login"}
      class="xamt-form"
    >
      <.input
        readonly={!!@current_scope}
        field={f[:email]}
        type="email"
        label={gettext("Email")}
        autocomplete="username"
        spellcheck="false"
        required
        phx-mounted={JS.focus()}
      />
      <.button variant="primary" class="xamt-btn xamt-btn--primary">
        {gettext("Log in with email")}
      </.button>
    </.form>

    <div class="xamt-divider">{gettext("or")}</div>

    <.form
      :let={f}
      for={@form}
      as={:user}
      id="login_form_password"
      action={~p"/login"}
      class="xamt-form"
    >
      <.input
        readonly={!!@current_scope}
        field={f[:email]}
        type="email"
        label={gettext("Email")}
        autocomplete="username"
        spellcheck="false"
        required
      />
      <.input
        field={f[:password]}
        type="password"
        label={gettext("Password")}
        autocomplete="current-password"
        spellcheck="false"
      />
      <.button
        variant="primary"
        class="xamt-btn xamt-btn--primary"
        name={@form[:remember_me].name}
        value="true"
      >
        {gettext("Log in and stay logged in")}
      </.button>
      <.button class="xamt-btn xamt-btn--soft">
        {gettext("Log in only this time")}
      </.button>
    </.form>
  </section>
</Layouts.app>
